/*@media only screen and (min-width: 200px) and (max-width: 620px) {*/
/* Default configuration is Extra small devices (phones, 600px and down) */
    body {
    	overflow: hidden;
    	background-color: #333;
    }

    #bgvid {
    	position: fixed;
    	right: 0;
    	bottom: 0;
    	min-width: 100%;
    	min-height: 100%;
    	width: auto;
    	height: auto;
    	z-index: -100;
    	background-size: cover;
    	opacity: 0.5;
    }
    #home .content {
        display: flex;
        flex-direction: column;
    }
    .hint {
        background: rgba(0,0,0,0.5);
        color: #EEE;
        text-align: center;
        width: 100%;
        font-size: 1em;
        padding: 1.5em 0;
    }

    .slide {
    	width: 100%;
    	height: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
        font-size: 1em;
    }
    .intro {
        flex-direction: column;
    }
    .intro img {
        max-width: 100vw;
        max-height: 50vw;
    }
    .project {
        flex-direction: column;
    }
    .half {
        width: 100%;
        height: 50%;
    }
    .half div {
        padding: 0 10px;  
    }    
    .third {
        padding: 0 10px;
        width: 100%;    
    }
    .third.image {
        text-align: center;
    }
    .content {
    	text-align: left;
    }
    .diapos {
    	flex-direction: column;
    	justify-content: space-evenly;
    	align-items: flex-start;
    }
    .images {
    	display: flex;
    }
    .images img {
        max-width: 100vw;
    }
    .images a:hover {
    	cursor: pointer;
    	
    }
    .img .para {
        flex-direction: column;
    }
    .rightonlarge {
        text-align: left;
    }
    .top {
    	width: 100%;
    	text-align: center;
    }
    .title {
    	font-weight: bolder;
    	font-size: small;
    	font-family: sans-serif;
    }
    .cite, .author {
    	color: #777;
    }
    .cite {
    	font-style: italic;
    }
    .grey {
    	border-color: #777;
    }
    .video{
        padding:0;
    }
    .video iframe {
        width: 100%;
        height: 100%;
    }
    h1, h2, h3 {
    	color: white;
    	font-family: sans-serif;
    	text-align: left;
    	font-weight: lighter;
    }
    h1 {
    	font-size: 3em;
        padding: 0 2em;
    }
    h2 {
    	font-size: 1.5em;
        padding: 0 2em;
        text-align: center;
    }
    h3 {
        font-size: 1.2em;
        text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    }
    a {
        color: #00a7cf!important;
    }
    p {
    	margin: 0.5em;
    	font: bold 0.7em serif;
    	color: #fff;
    	text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    	line-height: 1.6;
    }
    footer {
    	text-align: left;
    	color: #BBB;
    	position: fixed;
    	bottom: 1em;
    	left: 2em;
        font-size: 1em;
    }

    .arrow_right {
        position: absolute;
        background: transparent;
        cursor:pointer; 
        left: 95%;
        top: 50vh;
        width: 50px;
        height: 50px;
    }
    .arrow_right:after, .arrow_right:before {
        top: 25px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_right:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: rgba(255, 255, 255, 0.5);
        border-width: 30px;
        margin-top: -30px;
    }
    .arrow_right:before {
        border-color: rgba(194, 194, 194, 0);
        border-left-color: rgba(194, 194, 194, 0.5);
        border-width: 36px;
        margin-top: -36px;
    }

    .arrow_left {
        position: absolute;
        background: transparent;
        cursor:pointer; 
        right: 95%;
        top: 50vh;
        width: 50px;
        height: 50px;
    }
    .arrow_left:after, .arrow_left:before {
        top: 25px;
        right: 0px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_left:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: rgba(255, 255, 255, 0.5);
        border-width: 30px;
        margin-top: -30px;
    }
    .arrow_left:before {
        border-color: rgba(194, 194, 194, 0);
        border-right-color: rgba(194, 194, 194, 0.5);
        border-width: 36px;
        margin-top: -36px;
    }

    
/*}*/