body {
	overflow: hidden;
	background-color: #333;
}
/*
 * Adapted from http://demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video
 */
#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	opacity: 0.5;
}
.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    width: 100%;

    font-size: 30px;
    padding: 20px;

    /*z-index: 100;
    transform:translateY(400px);*/

}

.slide {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	text-align: left;
}
.diapos {
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
.images {
	display: flex;
}
.images a:hover {
	cursor: pointer;
	
}
.acant, .cora, .req, .suc, .alg, .nutri, .mare, .dug {
   	position: relative;
}
.para {
	display: none;
    flex-direction: column;
    justify-content: space-evenly;
	float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}
.para h3  {	
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top:20px;
}
.para p {   
    text-align:right;
    font-size: 20px;
    padding: 0 20px;
}
#projets {
    overflow-x: 
}
.acant:hover .acanthaster,.cora:hover .corail,.req:hover .requin,.suc:hover .super,.alg:hover .algae,.nutri:hover .nutrition, mare:hover .mareco, dug:hover .dugong {
	display: flex;
}

.half {
	width: 50%;
}
.half div {
   padding: 0 150px;  
}
.third {
    padding: 0 150px;
    width: 50%;
}
.right {
    text-align: right;
}
.top {
	width: 100%;
	text-align: center;
}
.title {
	font-weight: bolder;
	font-size: 30px;
	font-family: sans-serif;
}
.cite, .author {
	color: #777;
}
.cite {
	font-style: italic;
}
.grey {
	border-color: #777;
}
.video{
    padding:0;
}
.video iframe {
    width: 100%;
    height: 100%;
}
h1, h2, h3 {
	color: white;
	font-family: sans-serif;
	text-align: left;
	font-weight: lighter;
}
h1 {
	font-size: 5em;
}
h2 {
	font-size: 3em;
}
a {
    color: #00a7cf!important;
}
p {
	margin: 0.5em;
	font: bold 1.1em serif;
	color: #fff;
	text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
	line-height: 1.6;
}
footer {
	text-align: left;
	color: #BBB;
	position: fixed;
	bottom: 20px;
	left: 50px;
}

.arrow_right {
    position: absolute;
    background: transparent;
    cursor:pointer; 
    left: 95%;
    top: 50vh;
    width: 50px;
    height: 50px;
}
.arrow_right:after, .arrow_right:before {
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_right:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0.5);
    border-width: 30px;
    margin-top: -30px;
}
.arrow_right:before {
    border-color: rgba(194, 194, 194, 0);
    border-left-color: rgba(194, 194, 194, 0.5);
    border-width: 36px;
    margin-top: -36px;
}

.arrow_left {
    position: absolute;
    background: transparent;
    cursor:pointer; 
    right: 95%;
    top: 50vh;
    width: 50px;
    height: 50px;
}
.arrow_left:after, .arrow_left:before {
    top: 25px;
    right: 0px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_left:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0.5);
    border-width: 30px;
    margin-top: -30px;
}
.arrow_left:before {
    border-color: rgba(194, 194, 194, 0);
    border-right-color: rgba(194, 194, 194, 0.5);
    border-width: 36px;
    margin-top: -36px;
}